body {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
	padding: 2px;
}
h2 {
    color: white;
    text-align: center;
}
h3 {
    color: white;
    text-align: center;
}
#logo {
  float: left;
  padding:1px;
}
#saturs
{
  width: 72%;
  margin: 0 auto;
  padding: 10px;
}
#virsraksts-konteineris {
	background-color:black;
	color:white;
	padding:1px;
	height:60px;
}
	
#galvenais-virsraksts {
	float:left;
}
#sub-virsraksts {
	float:left;
}
#divLogo{
	background-color:black;
	color:white;
	padding:1px;
	height:30px;
}
#divLogin{
	background-color:blue;
	float:right;
	color:white;
	width:100px;
	height:20px;
}
#divMenju{
	background-color:blue;
	padding:8px;
	height:44px;
}
 td.npk {
	width: 3%;
    border: 1px solid black;
    text-align: center;
    /*padding: 5px;*/
 }
td.teksts {
	width: 40%;
    border: 1px solid black;
     /*padding: 5px;*/
 }
td.ievade {
	width: 57%;
    border: 1px solid black;
     /*padding: 5px;*/

 }
ul li {
	display: inline;
	border: 1px solid red;
	padding: 3px;
	background: orange;
	border-radius: 5px;
	float: left;
	height: 25px;
	width: 100px;
	text-align: center;
	}

a {			
	text-decoration: none;
	font-weight: bold;
	color: yellow;
	}
 