body {
    background-color: white;
}
h1 {
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 24px;
	padding: 2px;
}
h2 {
    color: white;
    text-align: center;
}
h3 {
    color: white;
    text-align: center;
}
#logo {
  float: left;
  padding:1px;
}
#saturs
{
  width: 99%;
  margin: 0 auto;
  padding: 0px;
}
#virsraksts-konteineris {
	background-color:black;
	color:white;
	padding:1px;
	height:60px;
}
#galvenais-virsraksts {
	float:left;
}
#sub-virsraksts {
	float:left;
}
#divLogin{
	background-color:blue;
	float:right;
	color:white;
	width:100px;
	height:20px;
}
#divMenju{
	background-color:blue;
	padding:8px;
	height:44px;
}
#divFormMenu{
	background-color:blue;
	height:44px;
	
}
 td.npk {
	width: 3%;
    border: 1px solid black;
    text-align: center;
    /*padding: 5px;*/
 }
td.teksts {
	width: 40%;
    border: 1px solid black;
     /*padding: 5px;*/
 }
td.ievade {
	width: 57%;
    border: 1px solid black;
     /*padding: 5px;*/

 }
 
 
td.tcol0 {
		width:5%;
		text-align: center;
		background-color: cornflowerblue;
		font-family: verdana;
	    font-size: 14px;
		
 }
 
 td.tcol1 {
 	width:5%;
 	text-align: center;
 	border: 1px solid black;
 }
 
 td.tcol2 {
  	width:5%;
 	text-align: center;
 	border: 1px solid black;
 
 }
 
 td.tcol3 {
   	width:30%;
   	border: 1px solid black;
 
 }
 
 td.tcol4 {
 	width:30%;
 	border: 1px solid black;
 	
 }
 
 td.tcol5 {
    	width:24%;
    	border: 1px solid black;
 
 }
 
 td.tcol6 {
 		border: 1px solid black;
 }
td.htcol0 {
 	width:2%;
 	text-align: center;
 	border: 1px solid black;
 	font-family: verdana;
	font-size: 14px;
 	background-color:cornflowerblue;
 }

td.htcol1 {
 	width:2%;
 	text-align: center;
 	border: 1px solid black;
 	font-family: verdana;
	font-size: 14px;
 	background-color:cornflowerblue;
 }
   
td.htcol1 {
 	width:8%;
 	text-align: center;
 	border: 1px solid black;
 	font-family: verdana;
	font-size: 14px;
 	background-color:cornflowerblue;
 }
 
 td.htcol2 {
  	width:10%;
 	text-align: center;
 	border: 1px solid black;
 	font-family: verdana;
	font-size: 14px;
 	background-color:cornflowerblue;
 
 }
 
 td.htcol3 {
   	width:30%;
 	text-align: center;
 	border: 1px solid black;
 	font-family: verdana;
	font-size: 14px;
 	background-color:cornflowerblue;
 
 }
 
 td.htcol4 {
 	width:30%;
  	text-align: center;
 	border: 1px solid black;
 	font-family: verdana;
	font-size: 14px;
 	background-color:cornflowerblue;
	
 }
 
 td.htcol5 {
 	text-align: center;
 	border: 1px solid black;
 	font-family: verdana;
	font-size: 14px;
 	background-color:cornflowerblue;

 }
 
 td.htcol6 {
  	text-align: center;
 	border: 1px solid black;
 	font-family: verdana;
	font-size: 14px;
 	background-color:cornflowerblue;
  }
  
 ul li {
    display: inline;
    border: 2px solid aqua;
    padding: 3px;
    background: #1f16a4;
    border-radius: 5px;
    height: 29px;
    width: 207px; 
    text-align: center;
    margin-right: 8px;
    float: left;
    font-size: 14px;
    font-family: verdana;
    margin: 2px;
}

ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
a {			
    text-decoration: none;
    font-weight: bold;
    color: lightcyan;
    height: 100%;
    display: block;
    padding: 5px;	
    }
#mnTools {
	display: inline;
    border: 3px solid indigo;
	padding: 2px;
    background: lightcyan;
	border-radius: 5px;
	height: 16px;
	width: 40%;
	text-align: center;
	margin-right: 8px;
	float: left;
	font-size: 14px;
	font-family: verdana;
	margin: 2px;
	
}
#mnNavig{
	display: inline;
    border: 3px solid indigo;
	padding: 2px;
    background: lightcyan;
	border-radius: 5px;
	height: 16px;
	width: 20%;
	text-align: center;
	margin-right: 8px;
	float: left;
	font-size: 14px;
	font-family: verdana;
	margin: 2px;
}
#mnaNavig{
    text-decoration: none;
    font-weight: bold;
    color: indigo;
    height: 100%;
    display: block;
    padding: 0px;	
}

#divMaster{
/*	width:1800px;*/
/*	height:1000px;*/
}

#divGalva{
	background-color:white;
	/* border-style: solid; */
	margin:auto;
	height:76px;
	width:100%;
}   
#divLogo{
 	background-color: #4a47bf;
	float:left;
	color:red;
	width:10%;
	height:76px;
}
#divTitle{
	background-color: #4a47bf;
	float:left;
	color:red;
	width:90%;
	height:50px;
	border-bottom: 1px solid;
	border-bottom-color: #1992d4;
}
#divInfo{
	background-color: #4a47bf;
	float:left;
	color:red;
	width:90%;
	height:25px;
}

#divAdmin{
	float:left;
	/*border: 1px solid black;*/
	width:20%;
	height:100%
	
}
#divPapildInfo{
	float:left;
	width:30%;
	height:100%
	
}
#divKomp{
	float:left;
	width:50%;
	height:100%;
}
#divVersija{
	float:left;
	width:50%;
	height:100%;
	color: burlywood;
	font-family: verdana;
	font-size: 11px;
	
}
#divDialog{
	/*border-style: solid;*/
	height:3%;
	width:82%;
	margin:auto;
}

#divDialText{
	float:left;
	width:80%;
	height:100%;
	/*border-style: solid;*/

	
}
#divDialJa{
	float:left;
	width:9%;
	height:100%;
	/*border-style: solid;*/
	
}
#divDialNe{
	float:left;
	width:9%;
	height:100%;
	/*border-style: solid;*/
	
}
#divBody{
	/*border-style: solid;*/
	margin: 0 auto;
	width:82%;
}	
#divMenu{	
	float:left;
	/*border-style: solid;*/
	width:15%;
	height:95%;
}
#divMenuTitle{
	width:100%;
	height:5%;
	background:indigo;
	color: ivory;
	text-align: center;
	font-family: verdana;
	font-size: 20px;
}
#divMenuSar{
	width:100%;
	background:ivory;
}
#divDarba{
	float:left;
/*	border-style: solid; */
text-align: center;
	width:84%;
}	

#divFormTitle{
	width:100%;
	height:4%;
	background: indigo;
    color: ivory;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
}

#divForma{
	width:100%;
	
}
#divTools{
	width:20%;
	border: 1px solid black;
	float:left;
	text-align: left;
}
#divView{
	width:78%;
	border: 1px solid black;
	float:left;
}
#divFormNavig{
	width:100%;
	height:30px;
	border-bottom: indigo 3px solid;
}

#divStatus{
	height:5%;
	float:left;
	width:100%;
}
#divLoginInfo{
	float:left;
	width:45%;
	height:93%;
}
#divLUser{
	float:left;
	border-left:1px solid;
	border-left-color: darkcyan;
	color: #38d4d4;
	width:10%;
	height:100%;
	text-align: right;
	font-family: verdana;
	font-size: 12px;
	margin-right: 5px;
}
#divAgents{
	float:left;
	border-left:1px solid;
	border-left-color: darkcyan;
	color: #38d4d4;
	width:25%;
	height:100%;
	text-align: right;
	margin-right: 5px;
	font-family: verdana;
	font-size: 12px;
	
}
#divPswTxt{
	float:left;
	border-left:1px solid;
	border-left-color: darkcyan;
	color: #38d4d4;
	width:30%;
	height:100%;
	text-align: right;
	margin-right: 5px;
	font-family: verdana;
	font-size: 12px;
	
}
#divPswIev{
	float:left;
	border-left:1px solid;
	border-left-color: darkcyan;
	color: #38d4d4;
	width:14%;
	height:100%;
	text-align: right;
	margin-right: 5px;
	font-family: verdana;
	font-size: 12px;
	
}
#divIeIz{
	float:left;
	border-left:1px solid;
	border-left-color: darkcyan;
	color: #38d4d4;
	border-right:1px solid;
	border-right-color: darkcyan;
	width:10%;
	height:100%;
	text-align: center;
	margin-right: 5px;
	font-family: verdana;
	font-size: 12px;

}
#tukss{
	width:100%;
	height:100%;
	background:ivory;
	
}